# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Debug
ipch
/pecker_src/pecker_framework.sdf
/pecker_src/pecker_framework.suo
/pecker_src/pecker_framework/Debug
Debug
ipch
Debug
ipch
ipch
Debug
My Amplifier XE Results - pecker_framework
My Inspector XE Results - pecker_framework
