# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
Debug
ipch
/pecker_src/pecker_framework.sdf
/pecker_src/pecker_framework.suo
/pecker_src/pecker_framework/Debug
Debug
ipch
Debug
ipch
ipch
Debug
My Amplifier XE Results - pecker_framework
My Inspector XE Results - pecker_framework
Release
obj
*.sdf
*.sdf
/pecker_src/depends_lib/libpng-1.6.2/bin/*.lastbuildstate
/pecker_src/depends_lib/libpng-1.6.2/bin/*.obj
/pecker_src/depends_lib/libpng-1.6.2/bin/*.log
/pecker_src/depends_lib/libpng-1.6.2/bin/*.bsc
/pecker_src/depends_lib/libpng-1.6.2/bin/*.res
/pecker_src/depends_lib/libpng-1.6.2/bin/*.rc
/pecker_src/depends_lib/libpng-1.6.2/bin/*.pdb
/pecker_src/depends_lib/libpng-1.6.2/bin/*.pch
/pecker_src/depends_lib/libpng-1.6.2/bin/*.sbr
/pecker_src/depends_lib/libpng-1.6.2/bin/*.tlog
/pecker_src/depends_lib/libpng-1.6.2/bin/*.lastbuildstate
/pecker_src/depends_lib/libpng-1.6.2/bin/*.log
/pecker_src/depends_lib/libpng-1.6.2/bin/*.lastbuildstate
/pecker_src/depends_lib/libpng-1.6.2/bin/*.obj
/pecker_src/depends_lib/libpng-1.6.2/bin/*.log
/pecker_src/depends_lib/libpng-1.6.2/bin/*.manifest
/pecker_src/depends_lib/libpng-1.6.2/bin/*.obj
/pecker_src/depends_lib/libpng-1.6.2/bin/*.sbr
/pecker_src/depends_lib/libpng-1.6.2/bin/*.pch
/pecker_src/depends_lib/libpng-1.6.2/bin/*.pdb
/pecker_src/depends_lib/libpng-1.6.2/bin/*.rc
/pecker_src/depends_lib/libpng-1.6.2/bin/*.res
/pecker_src/depends_lib/libpng-1.6.2/bin/*.bsc
/pecker_src/depends_lib/libpng-1.6.2/bin/*.sbr
/pecker_src/depends_lib/libpng-1.6.2/bin/*.tlog
/pecker_src/depends_lib/libpng-1.6.2/bin/*.sbr
/pecker_src/depends_lib/libpng-1.6.2/bin/*.tlog
/pecker_src/depends_lib/libpng-1.6.2/bin/*.tlog
/pecker_src/depends_lib/libpng-1.6.2/projects/vstudio/vstudio.v12.suo
/pecker_src/*.suo
/pecker_src/*.suo
x86
Debug Library
Release Library
.metadata
/pecker_src/PFX_framework/bin
/pecker_src/depends_lib/freetype-2.5.3/objs/release
/pecker_src/depends_lib/freetype-2.5.3/builds/windows/vc2010/*.sdf
/pecker_src/sample/android/PFX_Sample/bin
